.dash__container{
    min-height: 100vh;
    min-width: 100vw;
    padding: 1rem 2rem;
    display: flex;
}

.resume{
    justify-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hello-card{
    border-radius: 15px;
    height: 190px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.hello__content{
    background: var(--gray-bg);
    padding: 1rem 1.5rem;
    min-width: 500px;
    height: 160px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello__title{
    font-weight: bolder;
    font-size: 2rem;
}

.hello__text{
    font-size: 14px;
}

.hello__illustration{
    position: absolute;
    bottom: 0;
    right: 10%;
}