
.slider-container{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.slider-commands{
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.slider-commands img{
    height: 35px;
    width: auto;
    transition: all 0.2s;
}

.slider-commands button:hover img{
    transform: scale(1.2);
}

.slider-items{
    width: 100%;
}

.slider-item{
    display: flex;
    background: #F5F5F7;
    height: 60px;
    width: 100%;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
}

.item-details{
    display: flex;
}

.item-desc{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-title{
    font-weight: bold;
    font-size: 16px;
}

.item-author{
    font-size: 13px;
}

.item-img{
    height: 50px;
    width: 50px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img img{
    width: 50%;
    height: auto;
}

.item-link a {
    background: var(--primary-color);
    color:#fff;
    text-decoration: none;
    padding: 0.2rem 1rem;
    border-radius: 7px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 120px;
    border: 2px solid #000;
    transition: all 0.3s;
}

.item-link:hover a{
    background: #ffffff;
    color:#000;
    text-decoration: none;
    font-size: 1rem;
}
