:root{
  --primary-color: #000;
  --secondary-color: #fff;
  --gray-bg: #F5F5F7
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, a, ul, li, input{
  background: none;
  list-style-type: none;
  color: inherit;
  border: none;
}

button:focus, a:focus, input:focus{
  outline: none;
}